@charset "UTF-8";
/*COLORES*/
/*Color Fonts*/
/*TIPOGRAFÍAS*/
.position-l-top {
  background-size: cover;
  background-position: left top;
}

.position-l-center {
  background-size: cover;
  background-position: left center;
}

.position-l-bottom {
  background-size: cover;
  background-position: left bottom;
}

.position-r-top {
  background-size: cover;
  background-position: right top;
}

.position-r-center {
  background-size: cover;
  background-position: right center;
}

.position-c-top {
  background-size: cover;
  background-position: center top;
}

.position-c-center {
  background-size: cover;
  background-position: center center;
}

.position-c-bottom {
  background-size: cover;
  background-position: center bottom;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
}
.header__logo {
  font-family: "Anton", sans-serif;
  font-size: 1.875rem;
  font-weight: inherent;
  color: #ba2121;
}
.header__desktop-nav {
  display: none;
}
.header__btn-nav {
  width: 30px;
}

@media only screen and (min-width: 501px) {
  .header {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .header__logo {
    color: #242424;
  }
  .header__desktop-nav {
    padding-left: 30px;
    display: inline;
  }
  .header__desktop-nav a {
    margin-right: 30px;
  }
  .header__desktop-nav a span {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #242424;
    letter-spacing: 1.4px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
  }
  .header__desktop-nav a span:hover {
    border-bottom-color: #328cc1;
  }
  .header__btn-nav {
    display: none;
  }
  .header__mb-nav {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
/*SECCIÓN PRINCIPAL*/
.principal {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.principal__box {
  border-bottom: 4px solid black;
  box-sizing: border-box;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.principal__box .--container {
  padding: 10px 20% 10px 10px;
  width: 100%;
}
.principal__box .--container .tags {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: white;
  letter-spacing: 1.5px;
}
.principal__box .--container .tags .date {
  text-shadow: 2px 2px 15px black;
}
.principal__box .--container .tags .theme {
  font-weight: 500;
}
.principal__box .--container .title {
  font-family: "Oswald", sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: white;
  line-height: 29px;
  text-transform: capitalize;
  text-shadow: 2px 2px 15px black;
  margin-bottom: 10px;
}
.principal .box1 {
  height: 100vh;
}

/*SECCIÓN POPULARES*/
.popular__container {
  margin: 0 auto;
  width: 90%;
  max-width: 930px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.popular .--title {
  width: 80%;
  font-family: "Anton", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #0b0203;
}
.popular .box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.popular .box .--img {
  width: 80%;
  height: 200px;
  margin-bottom: 10px;
}
.popular .box .text-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.popular .box .text-container .topic {
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #242424;
  letter-spacing: 0.5px;
  margin-bottom: 3px;
}
.popular .box .text-container h2 {
  font-family: "Oswald", sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: #202124;
  line-height: 23px;
  text-transform: capitalize;
  display: inline;
}
.popular .box .text-container p {
  font-family: "Alegreya", serif;
  font-size: 17px;
  font-weight: normal;
  color: #444;
  margin-top: 8px;
}

@media only screen and (min-width: 501px) {
  .principal__box {
    border: none;
    width: 98%;
    max-width: 930px;
    height: 240px;
    max-height: 240px;
    margin-bottom: 10px;
  }

  .popular__container {
    width: 98%;
  }
  .popular__container .box {
    width: 50%;
  }
  .popular__container .box .text-container {
    border-left: 1px solid #dfdfdf;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 811px) {
  .popular__container .box .--img {
    height: 240px;
  }
}
@media only screen and (min-width: 1200px) {
  .principal__box {
    margin-bottom: 40px;
  }
  .principal__box .--container .tags .theme {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .principal__box .--container .title {
    font-size: 33px;
    line-height: 35px;
    transition: 0.4s;
    margin-bottom: 0px;
  }
  .principal__box .--container .title:hover {
    color: #fc5b3d;
  }

  .popular__container {
    margin-top: 100px;
  }
  .popular__container .box .text-container h2 {
    line-height: 30px;
    transition: 0.3s;
  }
  .popular__container .box .text-container h2:hover {
    color: #fc5b3d;
  }
}
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main section.list .--container {
  width: 95%;
  max-width: 665px;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  main section.list .--container {
    margin-top: 80px;
  }
}
main section.list .--container:nth-child(1) {
  border-top: 1px solid #dfdfdf;
}
main section.list .--container .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: none;
  flex-direction: none;
  align-items: none;
  padding-bottom: 15px;
  padding-top: 15px;
  max-width: 700px;
  border-bottom: 1px solid #dfdfdf;
}
main section.list .--container .box .--img {
  width: 25%;
  padding-top: 25%;
}
@media only screen and (min-width: 501px) {
  main section.list .--container .box .--img {
    padding-top: 0px;
    height: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  main section.list .--container .box .--img {
    width: 33%;
    height: 140px;
  }
}
main section.list .--container .box .text-container {
  box-sizing: border-box;
  width: 75%;
  padding-left: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: none;
}
@media only screen and (min-width: 501px) {
  main section.list .--container .box .text-container {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  main section.list .--container .box .text-container {
    width: 66%;
  }
}
main section.list .--container .box .text-container h3 {
  font-family: "Alegreya", serif;
  font-size: 16px;
  font-weight: 400;
  color: #202124;
  letter-spacing: none;
  line-height: 20px;
  text-transform: capitalize;
}
@media only screen and (min-width: 501px) {
  main section.list .--container .box .text-container h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 811px) {
  main section.list .--container .box .text-container h3 {
    font-size: 24px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  main section.list .--container .box .text-container h3 {
    font-size: 25px;
    line-height: 28px;
    transition: 0.3s;
  }
  main section.list .--container .box .text-container h3:hover {
    color: #fc5b3d;
  }
}
main section.list .--container .box .text-container .date {
  font-family: "Oswald", sans-serif;
  font-size: 9px;
  font-weight: 300;
  color: grey;
  letter-spacing: none;
  line-height: none;
  text-transform: uppercase;
}
main section.main-article-image .primary-image .main-image {
  height: 60vh;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  main section.main-article-image .primary-image .main-image {
    height: 600px;
    width: 1100px;
  }
}
main section.main-article-image .primary-image .img-description {
  text-align: right;
  font-family: "Anton", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: darkslategrey;
  letter-spacing: none;
  line-height: none;
  text-transform: none;
  padding: 2px 10px;
}
@media only screen and (min-width: 1200px) {
  main section.main-article-image .primary-image .img-description {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  main section.main-article-image .primary-image {
    width: 1100px;
  }
}

/*# sourceMappingURL=main.css.map */
