@charset "UTF-8";
/*COLORES*/
/*Color Fonts*/
/*TIPOGRAFÍAS*/
.position-l-top {
  background-size: cover;
  background-position: left top;
}

.position-l-center {
  background-size: cover;
  background-position: left center;
}

.position-l-bottom {
  background-size: cover;
  background-position: left bottom;
}

.position-r-top {
  background-size: cover;
  background-position: right top;
}

.position-r-center {
  background-size: cover;
  background-position: right center;
}

.position-c-top {
  background-size: cover;
  background-position: center top;
}

.position-c-center {
  background-size: cover;
  background-position: center center;
}

.position-c-bottom {
  background-size: cover;
  background-position: center bottom;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
}
.header__logo {
  font-family: "Anton", sans-serif;
  font-size: 1.875rem;
  font-weight: inherent;
  color: #ba2121;
}
.header__desktop-nav {
  display: none;
}

@media only screen and (min-width: 501px) {
  .header {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .header__logo {
    color: #242424;
  }
  .header__desktop-nav {
    padding-left: 30px;
    display: inline;
  }
  .header__desktop-nav a {
    margin-right: 30px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #242424;
    letter-spacing: 1.4px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
  }
  .header__desktop-nav a:hover {
    border-bottom-color: #328cc1;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
/******************
MOBILE FIRST ******************
**********************/
/*SECCIÓN PRINCIPAL*/
.principal__box {
  border-bottom: 4px solid black;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.principal__box .--container {
  padding: 10px 20% 20px 10px;
}
.principal__box .--container .tags {
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 10px black;
  font-family: "Oswald", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: white;
}
.principal__box .--container .tags .theme {
  font-size: 14px;
}
.principal__box .--container .title {
  font-family: "Oswald", sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: white;
  line-height: 29px;
  text-transform: capitalize;
  text-shadow: 2px 2px 10px black;
}
.principal__box:first-child {
  height: 100vh;
}
.principal__box:first-child .--container .title {
  font-size: 31px;
}

/*SECCIÓN LISTA/ENTRADAS*/
.list__container .box {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dfdfdf;
}
.list__container .box .--img {
  width: 48%;
}
.list__container .box .text-container {
  width: 52%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.list__container .box .text-container .topic {
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #328cc1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.list__container .box .text-container .title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #393939;
  line-height: 24px;
  margin-bottom: 5px;
}
.list__container .box .text-container .date {
  font-family: "Oswald", sans-serif;
  font-size: 9px;
  font-weight: 300;
  color: grey;
}

@media only screen and (min-width: 501px) {
  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .principal__box {
    border-bottom: none;
    width: 98%;
    max-width: 930px;
    height: 240px;
    max-height: 240px;
    margin-bottom: 10px;
  }
  .principal__box .--container {
    padding-bottom: 10px;
  }

  .list {
    margin-top: 10px;
  }
  .list__container {
    margin: 0 auto;
    width: 95%;
    max-width: 665px;
  }
  .list__container .box {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .list__container .box .--img {
    height: 150px;
    width: 40%;
  }
  .list__container .box .text-container {
    width: 60%;
    padding: 0px 10px;
  }
  .list__container .box .text-container .topic {
    font-size: 12px;
  }
  .list__container .box .text-container .title {
    font-size: 22px;
  }
  .list__container .box .text-container .date {
    font-size: 10px;
  }
}
@media only screen and (min-width: 811px) {
  .list__container .box .text-container .title {
    font-size: 24px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .principal__box {
    margin-bottom: 40px;
  }
  .principal__box .--container .tags .theme {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .principal__box .--container .title {
    font-size: 31px;
    line-height: 37px;
    transition: 0.4s;
    margin-bottom: 0px;
  }
  .principal__box .--container .title:hover {
    color: #fc5b3d;
  }

  .list__container {
    margin-top: 80px;
  }
  .list__container .box {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .list__container .box .--img {
    height: 170px;
  }
  .list__container .box .text-container .topic {
    font-weight: 400;
    letter-spacing: 1px;
  }
  .list__container .box .text-container .title {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 10px;
    transition: 0.3s;
  }
  .list__container .box .text-container .title:hover {
    color: #fc5b3d;
  }
  .list__container .box .text-container .date {
    font-size: 12px;
  }
}
.header-post__container .--main-img {
  width: 100%;
  height: 50vh;
}
.header-post__container .descript {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #0b0203;
  text-align: right;
  padding-right: 13px;
  margin-left: 13px;
  border-bottom: 1px solid lightgrey;
}

.info-post__container {
  padding: 13px;
}
.info-post__container .theme {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #328cc1;
  text-transform: uppercase;
  margin-top: 10px;
}
.info-post__container .title {
  font-family: "Oswald", sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #242424;
  line-height: 33px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.info-post__container .info {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #d00320;
  text-transform: uppercase;
}
.info-post__container .date {
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #242424;
}

.text-post__container {
  padding: 13px;
}
.text-post__container p {
  font-family: "Alegreya", serif;
  font-size: 18px;
  font-weight: normal;
  color: #242424;
  margin-bottom: 15px;
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
