.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	&__logo { @include fontstyle($logo-font,1.875rem,inherent,$logo-mb); }
	&__desktop-nav { display: none;	}
}

@include responsive1(){
	.header {
		justify-content: center;
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;	
		&__logo { color: $logo;	}
		&__desktop-nav {
			padding-left: 30px;
			display: inline;
			a {
				margin-right: 30px;	
				@include fontstyle($top-nav-font,16px,200,$darkGrey);
				letter-spacing: 1.4px;
				border-bottom: 1px solid transparent;
				transition: .3s;
				&:hover { border-bottom-color: $softBlue; }	
			}
		}
	}
}

@include responsive3(){
	.header {
		margin-top: 40px;
		margin-bottom: 100px;
	}
}

