
/******************
MOBILE FIRST ******************
**********************/
/*SECCIÓN PRINCIPAL*/
.principal {
	&__box {
		border-bottom: 4px solid black;
		height: 60vh;
		width: 100%;
		display: flex;
		align-items: flex-end;
		.--container {
			padding: 10px 20% 20px 10px;
			.tags {
				display: flex;
				flex-direction: column;
				letter-spacing: 1.5px;
				text-shadow: 2px 2px 10px black; 
				@include fontstyle($tags,11px,400,white);
				.theme { font-size: 14px; }
			}
			.title {
				@include fontstyle($title-font,27px,600,white);
				line-height: 29px;
				text-transform: capitalize;
				text-shadow: 2px 2px 10px black;
			}
		}
	}
	&__box:first-child {
		height: 100vh;
		.--container {
			.title { font-size: 31px; }
		}
	}
}

/*SECCIÓN LISTA/ENTRADAS*/
.list {
	&__container {
		.box {
			display: flex;
			flex-wrap: wrap;
			border-bottom: 1px solid $veryLightGrey;
			.--img { width: 48%; }
			.text-container {
				width: 52%;
				padding: 15px;
				display: flex;
				flex-direction: column;
				.topic {
					@include fontstyle($top-nav-font,10px,300,$softBlue);
					letter-spacing: .5px;
					text-transform: uppercase;
				}
				.title {
					@include fontstyle($title-font,18px,500,$darkBlue);
					line-height: 24px;
					margin-bottom: 5px;
				}
				.date {
					@include fontstyle($top-nav-font,9px,300,grey);
				}
			}
		}
	}
}


@include responsive1(){
	.principal {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__box {
			border-bottom: none;
			width: 98%;
			max-width: 930px;
			height: 240px;
			max-height: 240px;
			margin-bottom: 10px;
			.--container {
				padding-bottom: 10px;
			}
		}
	}
	
	.list {
		margin-top: 10px;
		&__container {
			margin: 0 auto;
			width: 95%;
			max-width: 665px;
			.box {
				flex-direction: row-reverse;
				justify-content: space-between;
				padding-bottom: 10px;
				padding-top: 10px;
				.--img { 
					height: 150px; 
					width: 40%;
				}
				.text-container {
					width: 60%;
					padding: 0px 10px;
					.topic { font-size: 12px; }
					.title { font-size: 22px; }
					.date { font-size: 10px; }
				}
			}
		}
	}
}

@include responsive2(){
	
	.list {
		&__container {
			.box {
				.text-container {
					.title {
						font-size: 24px;
						line-height: 24px;
					}
				}
			}
		}
	}
}

@include responsive3(){
	.principal {
		&__box {
			margin-bottom: 40px;
			.--container {
				.tags {
					.theme {
						font-size: 15px;
						margin-bottom: 3px;
					}
				}
				.title {
					font-size: 31px;
					line-height: 37px;
					transition: .4s;
					margin-bottom: 0px;
					&:hover { color: $title-hover; }
				}
			}
		}
	}
	
	.list {
		&__container {
			margin-top: 80px;
			.box {
				padding-bottom: 15px;
				padding-top: 15px;
				.--img { height: 170px; }
				.text-container {
					.topic {
						font-weight: 400;
						letter-spacing: 1px;
					}
					.title {
						font-size: 25px;
						line-height: 28px;
						margin-bottom: 10px;
						transition: .3s;
						&:hover { color: $title-hover; }
					}
					.date { font-size: 12px; }
				}
			}
		}
	}
}