.principal {
	&__box {
		border-bottom: 4px solid black;
		height: 60vh;
		width: 100%;
		display: flex;
		align-items: flex-end;
		.--container {
			padding: 10px 10px 20px 10px;
			margin-right: 20%;
			.tags {
				display: flex;
				flex-direction: column;
				letter-spacing: 1.5px;
				text-shadow: 2px 2px 10px black; 
				@include fontstyle($tags,11px,400,white);
				.theme { font-size: 14px; }
			}
			.title {
				@include fontstyle($title-font,27px,600,white);
				line-height: 29px;
				text-shadow: 2px 2px 10px black;
			}
			.resume {
				@include fontstyle($title-font,17px,400,white);
				text-shadow: 2px 2px 10px black;
				line-height: 20px;
				margin-top: 5px;
			}
			
		}
	}
	&__box:first-child {
		height: 100vh;
		.--container {
			.title { font-size: 31px; }
		}
	}
}

@include responsive1(){
	.principal {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		&__box {
			border-bottom: none;
			max-width: 830px;
			height: 240px;
			max-height: 240px;
			margin-bottom: 30px;
			.--container { 
				padding-bottom: 10px; 
				.title {
					font-size: 25px;
					font-weight: 500;
				}
			}
		}
		&__box:first-child {
			height: 430px;
			max-height: 430px;
			.--container {
				.resume {
					font-size: 18px;
				}
			}
		}
	}
	
}



@include responsive3(){
	.principal {		
		&__box {
			width: 100%;
			margin-bottom: 40px;
			.--container {
				//margin-right: 30%;
				.tags {
					.theme {
						font-size: 15px;
						margin-bottom: 3px;
					}
				}
				.title {
					font-size: 30px;
					//transition: .1s;
					//display: inline;
					&:hover {
						color:$lightYellow;

					}
				}
			}
		}
		&__box:first-child {
			height: 460px;
			max-height: 460px;
			.--container {
				.title {
					font-size: 40px;
					line-height: 38px;
					font-weight: 600;
				}
				.resume {
					font-size: 20px;
					line-height: 25px;
				}
			}
		}
	}
	

}