.mainImage {
	width: 100%;
	&__container { height: 60vh; }
	.descript {
		@include fontstyle($tags,12px,300,grey);
		text-align: right;
		padding: 0px 5px;
	}
}

.mainTitle {
	&__container {
		padding: 13px;
		margin-bottom: 20px;
		.info {
			@include fontstyle($top-nav-font,15px,400,$darkGrey);
			letter-spacing: .7px;
			.categ { color: $darkRed; }
			.theme { color: $softBlue; }
		}
		.title {
			@include fontstyle($title-font,27px,600,$darkGrey);
			line-height: 33px;
			margin-top: 5px;
		}
	}
}

.mainText {
	&__container {
		padding: 13px;
		p {
			@include fontstyle($text,18px,normal,$darkGrey);
			margin-bottom: 20px;
		}
		p:first-child::first-letter {
			@include fontstyle($title-font,25px,500,$darkRed);
		}
	}
}

@include responsive1() {
	.mainImage {
		width: 90%;
		max-width: 830px;
		display: flex;
		flex-direction: column;
		align-items: right;
		&__container {
			height: 430px;
			width: 100%;
		}
	}
	.mainTitle {
		width: 85%;
		max-width: 830px;
	}
	.mainText {
		width: 85%;
		max-width: 830px;
		&__container {
			p { font-size: 20px; }
		}
	}
}

@include responsive3() {
	.mainImage {
		.descript { font-size: 14px; }
	}
	.mainTitle {
		margin-top: 20px;
		margin-bottom: 50px;
		display: flex;
		justify-content: center;
		&__container {
			padding: 0px 100px;
			.info {
				font-size: 17px;
				font-weight: 300;
			}
			.title {
				font-size: 34px;
				line-height: 37px;
			}
			
		}
	}
	.mainText {
		&__container {
			padding: 0px 100px;
			p {
				font-size: 21px;
				margin-bottom: 30px;
			}
		}
	}
}

