.mainImage {
	width: 100%;
	&__container { height: 60vh; }
	.descript {
		@include fontstyle($tags,12px,300,grey);
		text-align: right;
		padding: 0px 5px;
	}
}

.info-post {
	&__container {
		padding-left: 13px;
		padding-right: 13px;
		padding-top: 20px;
		.title {
			@include fontstyle($title-font,27px,600,$darkGrey);
			line-height: 33px;
			margin-top: 5px;
			text-transform: capitalize;
		}
		.categories {
			@include fontstyle($top-nav-font,15px,400,$darkGrey);
			letter-spacing: .7px;
			border-bottom: 1px solid $veryLightGrey;
			display: inline-block;
			margin-bottom: 30px;
			.theme { color: $softBlue; }
			.date {
				color: grey;
				font-weight: 300;
				font-size: 13px;
			}
		}
		.ajustes {
			display: flex;
			justify-content: flex-end;
			.icon-text {
				border: 1px solid $darkGrey;
				//background-color: grey;
				border-radius: 100%;
				padding: 7px;
					img {
					width: 15px;
					height: 15px;
				}
			}
			
		}
		
	}
}

.text-post {
	&__container {
		padding-left: 13px;
		padding-right: 13px;
		p {

			@include fontstyle($text,18px,normal,$darkGrey);
			margin-bottom: 15px;
		}
		p:first-child::first-letter {
			color: $darkRed;
			font-size: 25px;
			font-family: $title-font;
		}
	}
}

@include responsive1() {
	.mainImage {
		width: 90%;
		max-width: 830px;
		display: flex;
		flex-direction: column;
		align-items: right;
		&__container {
			height: 430px;
			width: 100%;
		}
	}
}
@include responsive3() {
	.mainImage {
		.descript {
			font-size: 14px;
		}
	}
}

