/*COLORES*/
	$orange: #fc5b3d;
	$softBlue: #328cc1;
	$lightElectricBlue: #3497d9;
	$darkBlue: #393939;
	$veryLightGrey: #dfdfdf;
	$generalBlack: #0b0203;
	$darkGrey: #242424;
	$strongRed: #ba2121;
	$darkRed: #d00320;
	$lightYellow: #ffe88e;
	$lightCoffee: #ede4d5;

/*Color Fonts*/
	$logo-mb: $strongRed;
	$logo: $darkGrey;
	$title-hover: $orange;

/*TIPOGRAFÍAS*/
$logo-font: 'Anton', sans-serif;
$title-font: 'Oswald', sans-serif;
$top-nav-font: 'Oswald', sans-serif;
$tags: 'Oswald', sans-serif;
$text: 'Alegreya', serif;
$lo-mas:'Anton', sans-serif;
